<a href="https://colab.research.google.com/github/KimaMurry/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
import pandas as pd

In [ ]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-07-13 21:31:54--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.42.46.127, 34.213.98.158, 54.149.64.5
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.42.46.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  22.21M  1.84MB/s    in 12s

2020-07-13 21:32:08 (1.81 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23289953]

In [ ]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [ ]:
##### Begin Working Here #####
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')

In [ ]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [ ]:
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)

In [ ]:
# looking at the term column
df['term'].head(10)

0     36 months
1     60 months
2     60 months
3     36 months
4     36 months
5     60 months
6     60 months
7     36 months
8     36 months
9     60 months
Name: term, dtype: object

In [ ]:
# looking at one value
df['term'][6]

' 60 months'

In [ ]:
type(df['term'][6])

str

In [ ]:
# cleaning it up
term = ' 60 months'

In [ ]:
# removing the leading space
term.strip()

'60 months'

In [ ]:
# removing the words and trailing space
term.strip(' months')

'60'

In [ ]:
# removing both
term.strip().strip(' months')

'60'

In [ ]:
# cast the string from string to integer
int('60')

60

In [ ]:
# put it together
int(term.strip().strip(' months'))

60

In [ ]:
type(int(term.strip().strip(' months')))

int

In [ ]:
# writing the function
def myfunc(cell_values):
  return int(cell_values.strip().strip(' months'))

In [ ]:
# the test
myfunc(term)

60

In [ ]:
type(myfunc(term))

int

In [ ]:
new_list = []

In [ ]:
# for loop
for cell in df['term']:
  new_list.append(myfunc(cell))

In [ ]:
# look at first 10 values
new_list[:10]

[36, 60, 60, 36, 36, 60, 60, 36, 36, 60]

In [ ]:
# convert to new column
df['term_cleaned'] = pd.Series(new_list)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term term_cleaned
0      18000        18000  ...              NaN           36
1      18500        18500  ...              NaN           60
2      32000        32000  ...              NaN           60
3       5000         5000  ...              NaN           36
4      13000        13000  ...              NaN           36

[5 rows x 141 columns]

In [ ]:
# looking at the types
df.dtypes

loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
term                      object
int_rate                  object
                          ...
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
term_cleaned               int64
Length: 141, dtype: object

In [ ]:
# using the .apply function
df['term_cleaned2'] = df['term'].apply(myfunc)
df.head()

   loan_amnt  funded_amnt  ...  term_cleaned term_cleaned2
0      18000        18000  ...            36            36
1      18500        18500  ...            60            60
2      32000        32000  ...            60            60
3       5000         5000  ...            36            36
4      13000        13000  ...            36            36

[5 rows x 142 columns]

new_list = []

In [ ]:
def clean_credit(loan_status):
  if loan_status in ['Current','Fully Paid']:
    return 1
  else:                               
    return 0

In [ ]:
df['loan_status_is_great'] = df['loan_status'].apply(clean_credit)

In [ ]:
df.head()

   loan_amnt  funded_amnt  ...  term_cleaned2 loan_status_is_great
0      18000        18000  ...             36                    0
1      18500        18500  ...             60                    1
2      32000        32000  ...             60                    1
3       5000         5000  ...             36                    1
4      13000        13000  ...             36                    1

[5 rows x 143 columns]

In [ ]:
mylist = []
for col in df.columns:
  if col.endswith('_d'):
    mylist.append(col)
mylist

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [ ]:
mycols = [col for col in df.columns if col.endswith('_d')]

In [ ]:
df['last_pymnt_d'][:10]

0    Oct-2019
1    Jun-2020
2    May-2020
3    Oct-2019
4    Jun-2020
5    Jun-2020
6    Jun-2020
7    Sep-2019
8    Dec-2019
9    Jun-2020
Name: last_pymnt_d, dtype: object

In [ ]:
df['last_pymnt_d'].head().values

array(['Oct-2019', 'Jun-2020', 'May-2020', 'Oct-2019', 'Jun-2020'],
      dtype=object)

In [ ]:
df['last_pymnt_date'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [ ]:
df[['last_pymnt_d', 'last_pymnt_date']].sample(4)

       last_pymnt_d last_pymnt_date
83027      Sep-2019      2019-09-01
120160     Jun-2020      2020-06-01
18535      Jun-2020      2020-06-01
60179      Jun-2020      2020-06-01

In [ ]:
df['last_pymnt_date'].dropna(inplace=True)

In [ ]:
# grabbing the year
df['last_pymnt_year']=df['last_pymnt_date'].dt.year
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_date last_pymnt_year
0      18000        18000  ...       2019-10-01          2019.0
1      18500        18500  ...       2020-06-01          2020.0
2      32000        32000  ...       2020-05-01          2020.0
3       5000         5000  ...       2019-10-01          2019.0
4      13000        13000  ...       2020-06-01          2020.0

[5 rows x 145 columns]

In [ ]:
df['last_pymnt_month']=df['last_pymnt_date'].dt.month
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_year last_pymnt_month
0      18000        18000  ...           2019.0             10.0
1      18500        18500  ...           2020.0              6.0
2      32000        32000  ...           2020.0              5.0
3       5000         5000  ...           2019.0             10.0
4      13000        13000  ...           2020.0              6.0

[5 rows x 146 columns]

In [ ]:
type(df['last_pymnt_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
df[['last_pymnt_date']].dtypes

last_pymnt_date    datetime64[ns]
dtype: object

df['last_pymnt_month']=df['last_pymnt_date'].dt.month

In [ ]:
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_date last_pymnt_year
0      18000        18000  ...       2019-10-01          2019.0
1      18500        18500  ...       2020-06-01          2020.0
2      32000        32000  ...       2020-05-01          2020.0
3       5000         5000  ...       2019-10-01          2019.0
4      13000        13000  ...       2020-06-01          2020.0

[5 rows x 145 columns]

In [ ]:
import numpy as np

In [ ]:
df['last_pymnt_date'].isnull().sum()

159

In [ ]:
df[['last_pymnt_month', 'last_pymnt_year']].sample(5).dtypes

last_pymnt_month    float64
last_pymnt_year     float64
dtype: object

In [63]:
df = df[['last_pymnt_month', 'last_pymnt_year']].dropna(inplace=False)
df.head()

   last_pymnt_month  last_pymnt_year
0              10.0           2019.0
1               6.0           2020.0
2               5.0           2020.0
3              10.0           2019.0
4               6.0           2020.0

In [64]:
df = df.astype({"last_pymnt_month": int, "last_pymnt_year": int})

In [65]:
df.head()

   last_pymnt_month  last_pymnt_year
0                10             2019
1                 6             2020
2                 5             2020
3                10             2019
4                 6             2020

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01